/*Global*/
/*"clear fix", keeps structure when multiple pieces are floated in a container*/
.container:after {
	content: " ";
	display: table;
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}

.container {
	width: 960px;
	margin: 0 auto;
}

h1, h2 {
	font-family: Georgia, Times, serif;
	color: #4aaaa5;
}
/*Header*/
header {
	background-color: #ffffff;
	border-bottom: solid 3px #cccccc;
}

#title {
	float: left;
	background: #4aaaa5;
}

#title h1 {
	margin: 12px 20px;
	font-size: 28px;
	color: #ffffff;
}

nav {
	float: right;
}

nav ul {
	margin-top: 22px;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 30px;
}

/*Main Content*/
.content {
	float: left;
	background-color: #ffffff;
	width: 650px;
	margin-top: 30px;
}

.content h2 {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0px;
	border-bottom: solid 2px #cccccc;
}

.content p {
	width: 90%;
	margin: 15px auto;
}

#me-pic {
	float: left;
	width: 220px;
	height: 200px;
	margin: 15px 15px 15px 30px;
}

/*contact*/
.contact {
	float: right;
	background-color: #ffffff;
	width: 270px;
	margin-top: 30px;
}

.contact h2 {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0px;
	border-bottom: solid 2px #cccccc;
	font-size: 20px;
}

.contact li {
	display: inline-block;
	margin-right: 10px;
}

.contact li img {
	height: 55px;
	width: 55px;
}


/*footer*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #666666;
	text-align: center;
	border-top: solid 6px #4aaaa5;
	height: 50px;
	color: #b6b9b5;
	font-size: 12px;
}

footer p {
	margin-top: 20px;
}




